{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": ["react-app", "airbnb", "plugin:jsx-a11y/recommended", "prettier"],
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": [
    "react",
    "react-hooks",
    "jsx-a11y",
    "prettier",
    "compat",
    "import"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],
    "jsx-a11y/label-has-for": [
      2,
      {
        "components": ["Label"],
        "required": {
          "some": ["nesting", "id"]
        },
        "allowChildren": false
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "no-console": "off",
    "react/prop-types": "off",
    "prettier/prettier": ["warn"],
    "compat/compat": "off",
    "import/no-unresolved": [2, { "commonjs": true, "amd": true }],
    "import/default": 2,
    "import/export": 2,
    "import/extensions": "off",
    "no-unused-vars": "warn",
    "react/jsx-props-no-spreading": "off"
  }
}
